body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-card {
  margin: 20px;

}

.p-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.p-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.p-card-title {
  font-size: 18px;
  margin: 0px;
}

.p-card-sub-title {
  font-size: 12px;
  margin: 0px;
}

.p-link-view {
  font-size: 14px;
  color: #66aefa;
  text-decoration: none;
}

.skilli {
  font-size: 35px;
  color: #383838;
}

.socialicon {
color: #383838;
font-size: 40px;
/* padding: 0.1em !important; */
}

.set-social-icons {
  margin-bottom: 18vh;
}

.last-paragraph {
  margin-bottom: 4em;
}
.socialicon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.fa-file-download {
  font-size: 2.15em;
  margin-top: 4px;
  color: #cdc5e2;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .set-social-icons {
    margin: 0 10px 0 10px !important;
  }
}