.background-lp {
      background: rgb(223,236,250);
      background: linear-gradient(90deg, rgba(223,236,250,1) 0%, rgba(241,228,241,1) 100%);
      height: 100vh;
}

/* .intro {
      width: 100%;
height: 100%;
} */

.intro span {
      position: relative;
      display: inline-block;
      width: 1.125em;
      text-transform: uppercase;
      text-align: center;
}

.letters-container {
      overflow: hidden;
}

.first-type {
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
      font-size: 5em;
}

.second-type {
      font-family: 'Montserrat', sans-serif;
      color: #727272;
      font-size: 5em;
}

.fa-arrow-right {
      color: #ffffff;
      font-size: 4em;
    }


.background-lp, .intro { 
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
  } 
    
  @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
       } 
  } 
  



@media (min-width: 320px) and (max-width: 375px) {

      .intro {
      padding-top: 190px;
      line-height: 0.001em;
      }

      .intro span {
            font-size: 1.3rem;
      }

      .fa-arrow-right {
            color: #ffffff;
            margin-top: 0.2em;
            font-size: 1.8em;
          }
}

@media (min-width: 376px) and (max-width: 450px) {
      .intro {
            padding-top: 210px;
            line-height: 0.8em; 
            }
      
            .intro span {
                  font-size: 1.4rem;
            }
      
            .first-type, .second-type {
                  font-size: 2.2rem;
            }

            .fa-arrow-right {
                  color: #ffffff;
                  margin-top: 0.2em;
                  font-size: 1.8em;
                }
}

@media (min-width: 763px) and (max-width: 991px) {
      .intro {
            padding-top: 150px;
            line-height: 2.1em; 
            }
      
            .intro span {
                  font-size: 2.7rem;
            }
            .fa-arrow-right {
                  color: #ffffff;
                  margin-top: 0.2em;
                  font-size: 3em;
                }
      
  }
  
  @media (min-width: 992px) and (max-width: 1024px) {
      .intro {
            padding-top: 200px;
            line-height: 4em;
            }
      
            .intro span {
                  font-size: 4rem;
            }
  }

  @media (min-width: 1025px) and (max-width: 1439px) {
      .intro {
            padding-top: 100px;
            line-height: 5.3em;
            }
      
            .intro span {
                  font-size: 4.5rem;
            }
  }

  @media (min-width: 1440px) and (max-width: 1900px) {
      .intro {
            padding-top: 200px;
            margin-right: 200px;
            line-height: 5.5em;
            }
      
            .intro span {
                  font-size: 5.3rem;
            }

            .first-type, .second-type {
                  width: 100vw;
            }
  }

  @media (min-width: 1901px) and (max-width: 2560px) {
      .intro {
            padding-top: 300px;
            line-height: 8em;
            padding-right: 700px;
            /* width: 100vw; */
            }

            .letters-container {
                  margin-left: 300px;
                  /* width: 100vw; */

            }
            .intro span {
                  font-size: 8rem;
            }

            /* .first-type, .second-type {
                  width: 1901px;
            } */
  }




/*Animation*/

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 16em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}
